<?xml version="1.0"?>
<robot name="m3d_unit" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:include filename="$(find m3dunit_description)/urdf/m3d.gazebo.xacro" />
  
  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro" />
  <xacro:include filename="$(find husky_gazebo)/urdf/husky.gazebo.xacro" />
  
  
  
  <xacro:arg name="laser_enabled" default="false" />
  <xacro:arg name="ur5_enabled" default="false" />
  <xacro:arg name="kinect_enabled" default="false" />
  
  
  
  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
    
   <joint name="m3d_link_husky_joint" type="fixed">
	  <origin xyz="0.0 0 0.3" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="m3d_link" />
    </joint>


  <xacro:m3d_unit/>
  <xacro:husky_robot />
  <xacro:husky_robot_gazebo />

</robot>

